{% extends '../layouts/base.twig' %}

{% block title %}
	{% set pageTitle = 'Password Generator' %}
	{{ pageTitle }}
{% endblock %}

{% block content %}
	<div class="container">
		<div class="slider-container">
			<label for="length">Password Length:
				<span id="lengthValue">12</span>
			</label>
			<input type="range" id="length" min="3" max="255" value="12">
		</div>

		<div class="radio-group">
			<label><input type="radio" name="charsetOption" id="easyToSay">
				Easy to say</label><br>
			<label><input type="radio" name="charsetOption" id="easyToRead">
				Easy to read</label><br>
			<label><input type="radio" name="charsetOption" id="allCharacters" checked>
				All characters</label>
		</div>

		<div class="checkbox-group">
			<label><input type="checkbox" id="uppercase" checked>
				Uppercase</label><br>
			<label><input type="checkbox" id="lowercase" checked>
				Lowercase</label><br>
			<label><input type="checkbox" id="numbers" checked>
				Numbers</label><br>
			<label><input type="checkbox" id="symbols" checked>
				Symbols</label>
		</div>

		<input type="text" id="password" style="width: 100%; margin-top: 10px;">
		{% include '../partials/buttons.twig' with { 
			buttons: [
				{ id: 'password-button', style: 'primary', label: 'Generate' },
				{ id: 'copy', style: 'primary', label: 'Copy To Clipboard' },
			],
			wrapper: true
		} %}

		<div class="strength-bar">
			<div class="strength-bar-fill" id="strengthBarFill"></div>
		</div>
	</div>

{% endblock %}

{% block seoContent %}
	[Your SEO Content]
{% endblock %}
