<ul class="site-nav">

	{% for category, modules in modulesByCategory %}
		<li class="site-nav__title">
			<strong>{{  category  }}</strong>
		</li>
		{% for module in modules %}
			<a class="site-nav__item-link {{module.hideNav ? 'hide-from-nav' : ''}}" href="{{ module.path }}">
				<li class="site-nav__item">
					{{ module.name }}
				</li>
			</a>
		{% endfor %}
	{% endfor %}
	<li class="site-nav__title">
		<strong>EXTERNAL LINKS</strong>
	</li>
	<a class="site-nav__item-link" target="_blank" href="https://meeting-cost-calc.onrender.com">

		<li class="site-nav__item">
			Meeting Cost Calculator
		</li>
	</a>
	<a class="site-nav__item-link" href="https://priority-pairwise-playbook.lovable.app/">
		<li class="site-nav__item">
			Priotarisation App
		</li>
	</a>


</ul>
