{% extends '../layouts/base.twig' %}

{% block title %}
	Bag Of Onions Home
{% endblock %}

{% block content %}


	<h1>Welcome to Bag of Onions, Your Ultimate Toolkit Online!</h1>
	<p>

		Discover the tools you need to streamline your digital tasks, right here at Bag of Onions. Whether you're adjusting CSS for perfect design, measuring screen sizes for optimal viewing, or exploring more of our specialized tools, we've got you covered. To get started, simply select a category from our menu or use the search bar to find the tool you need. Each tool comes with a helpful guide and examples to get you up and running in no time. Dive in and explore the possibilities!
	</p>


{% endblock %}

{% block seoContent %}


	<h1>Test</h1>
	<p>
		Discover the tools you need to streamline your digital tasks, right here at Bag of Onions. Whether you're adjusting CSS for perfect design, measuring screen sizes for optimal viewing, or exploring more of our specialized tools, we've got you covered. To get started, simply select a category from our menu or use the search bar to find the tool you need. Each tool comes with a helpful guide and examples to get you up and running in no time. Dive in and explore the possibilities!
	</p>


{% endblock %}
