/*!*******************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./src/scss/modules/_password-generator.scss ***!
  \*******************************************************************************************************************************************************************************************************/
.onion-button__button-wrapper {
  display: flex;
  gap: 1em;
  padding: 1em 0;
}

.onion-button__button-wrapper--vertical {
  flex-direction: column;
}

.onion-button__button-wrapper--horizontal {
  flex-direction: row;
}

.onion-button__button-wrapper--extra-padding {
  padding: 2em 0;
}

.onion-button__button {
  padding: 0.5em;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 500;
  transition: all 0.4s;
  white-space: nowrap;
  text-decoration: none;
}

.onion-button__button--primary {
  background-color: var(--body-bg-color);
  border: 0.1em solid var(--border-color);
  color: var(--c-black);
}

.onion-button__button--secondary {
  background-color: var(--accent-color);
  border: 0.1em solid var(--c-black);
  color: var(--accent-text-color);
}

.onion-button__button--log {
  position: absolute;
  right: 1em;
  background: white;
  border-radius: 5px;
}

.onion-button__button:hover {
  cursor: pointer;
}

.onion-button__button:hover.onion-button__button--primary {
  background: var(--accent-color);
  color: var(--accent-text-color);
  border-color: var(--accent-color);
}

.onion-button__button:hover.onion-button__button--secondary {
  background: var(--body-bg-color);
  color: var(--text-color);
  border-color: var(--border-color);
}

.container {
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

input[type=text],
button {
  padding: 10px;
  margin: 10px 0;
}

.radio-group,
.checkbox-group {
  text-align: left;
  display: inline-flex;
  gap: 15px;
  margin: 10px 0;
}

.radio-group label,
.checkbox-group label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.strength-bar {
  height: 10px;
  width: 100%;
  background-color: #ddd;
  border-radius: 5px;
  margin-top: 5px;
}

.strength-bar-fill {
  height: 100%;
  border-radius: 5px;
  transition: all 3s;
}
